body {
  font-family: "Arial", sans-serif;
  background-color: #e87722;
  margin: 0;
  padding: 0;
}

header {
  background-color: #002f6c;
  color: #fff;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.profile-image {
  max-width: 200px;
  border-radius: 10px;
}

section {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin-top: 20px;
  width: 70%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h2 {
  color: #002f6c;
}

p {
  font-size: 18px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  color: #002147;
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: #e87722;
}
form {
  font-family: Arial, sans-serif;
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

label {
  display: block;
  font-weight: bold;
  margin-top: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

textarea {
  height: 150px;
}

button {
  background-color: #e87722;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: #002f6c;
}

#toggle-courses {
  background-color: transparent;
  color: #002f6c;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-left: 10px; /* Add margin to separate from the course title */
}

.up-arrow::before {
  content: "\25B2"; /* Unicode character for an up arrow */
}

.down-arrow::before {
  content: "\25BC"; /* Unicode character for a down arrow */
}
/* Add styles for the "Leave a Message" and "Contact Info" section */
#contact-info,
#leave-message {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
}
/* Styles for the Container of "Contact Info" and "Leave a Message" */
#contact-leave-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Adjust the width of "Leave Message" and "Contact Info" */
  #leave-message {
    flex: 1; /* Set to 1 to take up equal space */
    order: 1;
  }
  
  #contact-info {
    flex: 1; /* Set to 1 to take up equal space */
    order: 2;
  }
